<template>
  <section class="hl_page-creator--columns-group">
    <a href="#" class="close-group" id="close-column-group">
      <i class="icon icon-close"></i>
    </a>
    <div class="manage-columns">
      <h2>Manage Columns</h2>
      <div class="columns-section-group-wrap">
        <div class="columns-section-group">
          <h3>Section > 2 Column Row</h3>
          <ul class="columns">
            <li>
              <h4>Left Column</h4>
              <div class="actions">
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-eye"></i>
                </a>
              </div>
            </li>
            <li>
              <h4>Right Column</h4>
              <div class="actions">
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-eye"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="columns-section-group">
          <h3>Section > 1 Column Row</h3>
          <ul class="columns">
            <li>
              <h4>Full Column</h4>
              <div class="actions">
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-eye"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="columns-section-group">
          <h3>Section > 2 Column Row</h3>
          <ul class="columns">
            <li>
              <h4>Left Column</h4>
              <div class="actions">
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-eye"></i>
                </a>
              </div>
            </li>
            <li>
              <h4>Right Column</h4>
              <div class="actions">
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-eye"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="columns-section-group">
          <h3>Section > 1 Column Row</h3>
          <ul class="columns">
            <li>
              <h4>Full Column</h4>
              <div class="actions">
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-square-sm btn-light4">
                  <i class="far fa-eye"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ColumnGroup extends Vue {}
</script>
