<template>
  <div class="hl_page-creator--column">
    <div class="hl_page-creator--column" :key="$store.state.rowRender.toString()">
      <template v-if="columnModel.elements.length>0">
        <template v-for="(element, eIndex) in columnModel.elements">
          <ElementComponent
            :key="eIndex"
            :index="index"
            :cIndex="cIndex"
            :eIndex="eIndex"
            :elementModel="element"
            @deleteElement="deleteElement"
          />
        </template>
      </template>
      <template v-else>
        <div
          href="#"
          class="new-element-blank"
          @click="addElement"
          v-on:dragleave="dragLeave"
          v-on:dragover="dragOver"
          v-on:drop="drop"
          :class="{'dragover': $store.state.dragging && dropZone}"
        >
          <span class="btn btn-light6 btn-slim">Add New Element</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import * as $ from 'jquery';
import PageContentColumn from '../../models/PageContentColumn';
import ElementComponent from './ElementComponent.vue';

@Component({
  components: {
    ElementComponent,
  },
})
export default class ColumnComponent extends Vue {
  @Prop({ type: Number }) sectionIndex!: number;

  @Prop({ type: Number }) index!: number;

  @Prop({ type: Number }) cIndex!: number;

  @Prop({ type: PageContentColumn }) columnModel!: PageContentColumn;

  private dropZone = false;

  addElement() {
    this.$store.commit('updateSectionIndex', { index: this.sectionIndex });
    this.$store.commit('updateRowIndex', { index: this.index });
    this.$store.commit('updateColumnIndex', { index: this.cIndex });
    this.$store.commit('updateElementIndex', { index: -1 });
    $.default('#page-creator').addClass('--menu-active');
    $.default('.hl_page-creator--element-group').addClass('active');
    $.default('#add-element').addClass('show');
    $.default('#add-element').fadeIn();
  }

  deleteElement(index: number) {
    this.columnModel.removeAt(index);
  }

  dragOver(event: any) {
    event.preventDefault();
    if (!this.dropZone) {
      this.dropZone = true;
    }
  }

  dragLeave(event: any) {
    event.preventDefault();
    this.dropZone = false;
  }

  drop(event: any) {
    this.$store.commit('updateDropStatus', {
      isDrop: true,
      sectionIndex: this.sectionIndex,
      rowIndex: this.index,
      columnIndex: this.cIndex,
      elementIndex: -1,
    });
    event.preventDefault();
    console.log('drop');
  }
}
</script>
