<template>
  <div class="hl_page-creator--element">
    <div class="hl_page-creator--actions">
      <div class="more-actions">
        <span data-tooltip="tooltip" data-placement="top" title="Edit" @click="editElement">
          <i class="fas fa-cog"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Move">
          <i class="fas fa-arrows-alt"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Clone">
          <i class="far fa-eye"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Save">
          <i class="far fa-copy"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Delete" @click="deleteElement">
          <i class="far fa-trash-alt"></i>
        </span>
      </div>
    </div>
    <span
      class="add-new-element"
      data-tooltip="tooltip"
      data-placement="bottom"
      title="Add New Element"
      @click="addElementFromElement"
    >
      <i class="icon icon-plus"></i>
    </span>
    <div class="element-container">
      <template v-if="elementModel.content.type === 'headline'">
        <HeadlineContent :content="elementModel.content" />
      </template>
      <template v-if="elementModel.content.type === 'image'">
        <ImageContent :content="elementModel.content" />
      </template>
      <template v-if="elementModel.content.type === 'list'">
        <ListContent :content="elementModel.content" />
      </template>
      <template v-if="elementModel.content.type === 'paragraph'">
        <ParagraphContent :content="elementModel.content" />
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import * as $ from 'jquery';
import PageContentElement from '../../models/PageContentElement';
import HeadlineContent from './contents/HeadlineContent.vue';
import ImageContent from './contents/ImageContent.vue';
import ListContent from './contents/ListContent.vue';
import ParagraphContent from './contents/ParagraphContent.vue';

@Component({
  components: {
    HeadlineContent,
    ImageContent,
    ListContent,
    ParagraphContent,
  },
})
export default class ElementComponent extends Vue {
  @Prop({ type: Number }) index!: number;

  @Prop({ type: Number }) cIndex!: number;

  @Prop({ type: Number }) eIndex!: number;

  @Prop({ type: PageContentElement }) elementModel!: PageContentElement;

  addElementFromElement() {
    this.$store.commit('updateRowIndex', { index: this.index });
    this.$store.commit('updateColumnIndex', { index: this.cIndex });
    this.$store.commit('updateElementIndex', { index: this.eIndex });
    $.default('#page-creator').addClass('--menu-active');
    $.default('.hl_page-creator--element-group').addClass('active');
    $.default('#add-element').addClass('show');
    $.default('#add-element').fadeIn();
  }

  @Emit('deleteElement')
  deleteElement() {
    return this.eIndex;
  }

  mounted() {
    this.$store.commit('reInit');
  }

  editElement() {
    this.$store.commit('updateRowIndex', { index: this.index });
    this.$store.commit('updateColumnIndex', { index: this.cIndex });
    this.$store.commit('updateElementIndex', { index: this.eIndex });
    this.$store.commit('updateElementEdit', { status: true });
    $.default('#page-creator').addClass('--menu-active');
    // $.default('.hl_page-creator--element-edit-group').addClass('active');
    // $.default('#add-element').addClass('show');
    // $.default('#add-element').fadeIn();
  }
}
</script>
