<template>
  <section
    class="hl_page-creator--element-edit-group"
    :class="{'active': $store.state.elementEdit}"
  >
    <a href="#" class="close-group" id="close-element-group" @click="closeEdit">
      <i class="icon icon-close"></i>
    </a>
    <div class="hl_element-group">
      <div class="tab-content" id="hl_element-group-tab">
        <div
          class="tab-pane fade"
          :class="{'active show': $store.state.elementEdit}"
          id="edit-element"
          role="tabpanel"
          aria-labelledby="edit-element-tab"
        >
          <div class="add-element" style="padding-right: 0;">
            <h2>Editor</h2>
            <template
              v-if="$store.state.rowIndex > -1 && $store.state.columnIndex > -1 && $store.state.elementIndex > -1"
            >
              <div class="add-element-body">
                <template v-if="editElement.content.type === 'headline'">
                  <div class="form-group">
                    <label class="float-left">Headline</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="editElement.content.text"
                      placeholder="Search"
                    />
                  </div>
                </template>
                <template v-if="editElement.content.type === 'paragraph'">
                  <div class="form-group">
                    <label class="float-left">Paragraph</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="editElement.content.text"
                      placeholder="Search"
                    />
                  </div>
                </template>
                <template v-if="editElement.content.type === 'image'">
                  <div class="form-group">
                    <label class="float-left">Image Url</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="editElement.content.url"
                      placeholder="Search"
                    />
                  </div>
                  <div class="form-group">
                    <label class="float-left">Image Description</label>
                    <textarea
                      type="text"
                      class="form-control"
                      v-model="editElement.content.desc"
                      placeholder="Search"
                    ></textarea>
                  </div>
                </template>
                <template v-if="editElement.content.type === 'list'">
                  <template v-for="(item, index) in editElement.content.items">
                    <div class="form-group editListItem" :key="index">
                      <label class="float-left">Item</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="editElement.content.items[index]"
                        placeholder="Search"
                      />
                      <span @click="editElement.content.items.splice(index, 1)">
                        <span class="fas fa-times"></span>
                      </span>
                    </div>
                  </template>
                  <div class="form-group" style="text-align: left;">
                    <button
                      type="button"
                      class="btn btn-default"
                      style="color: skyblue;"
                      @click="() => editElement.content.items.push('list')"
                    >Add item</button>
                  </div>
                </template>
                <div class="form-group">
                  <button type="button" class="btn btn-success float-left" @click="save">Submit</button>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';
// import * as $ from 'jquery';
import * as ld from 'lodash';
import PageContent from '../../models/PageContent';
import PageContentElement from '../../models/PageContentElement';

@Component
export default class ElementEditGroup extends Vue {
  @Prop({ type: PageContent }) pageContentModel!: PageContent;

  private editElement: PageContentElement = new PageContentElement('headline');

  @Watch('$store.state.elementEdit')
  elementEdit() {
    if (this.$store.state.elementEdit) {
      this.editElement = ld.cloneDeep(
        this.pageContentModel.sections[this.$store.state.sectionIndex].rows[this.$store.state.rowIndex].columns[
          this.$store.state.columnIndex
        ].elements[this.$store.state.elementIndex],
      );
    }
  }

  @Emit('removeOverlay')
  closeEdit() {
    this.$store.commit('updateRowIndex', { index: -1 });
    this.$store.commit('updateColumnIndex', { index: -1 });
    this.$store.commit('updateElementIndex', { index: -1 });
    this.$store.commit('updateElementEdit', { status: false });
  }

  save() {
    this.pageContentModel.sections[this.$store.state.sectionIndex].rows[this.$store.state.rowIndex].columns[
      this.$store.state.columnIndex
    ].elements[this.$store.state.elementIndex] = ld.cloneDeep(this.editElement);
    this.$store.commit('reRenderRow');
    this.closeEdit();
  }
}
</script>
