<template>
  <section class="hl_page-creator--main">
    <Menu @saveContent="saveContent" />

    <template v-if="pageContentModel.sections.length === 0">
      <br />
      <br />
      <br />
      <br />
      <button @click="openAddNewSection">Add section</button>
    </template>
    <template v-else>
      <template v-for="(section, index) in pageContentModel.sections">
        <SectionComponent
          :pageSectionModel="section"
          :sectionIndex="index"
          :key="index"
          @openAddNewSection="openAddNewSection"
          @deleteRow="deleteSection"
          @sortUp="sortUp"
          @sortDown="sortDown"
        />
      </template>
    </template>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import * as $ from 'jquery';
import Menu from './Menu.vue';
import SectionComponent from './SectionComponent.vue';
import PageContent from '../../models/PageContent';
import PageContentRow from '../../models/PageContentRow';
import PageContentColumn from '../../models/PageContentColumn';
import PageContentElement from '../../models/PageContentElement';
import PageContentSection from '../../models/PageContentSection';

@Component({
  components: {
    Menu,
    SectionComponent,
  },
})
export default class Main extends Vue {
  @Prop({ type: PageContent }) pageContentModel!: PageContent;

  dragging = false;

  @Watch('pageContentModel.sections.length', { immediate: true })
  checkAddRow() {
    if (this.pageContentModel.sections.length === 1) {
      this.$store.commit('reInit');
    }
  }

  saveContent() {
    localStorage.setItem(
      'pageContents',
      JSON.stringify(this.pageContentModel.toJson()),
    );
  }

  openAddNewSection() {
    $.default('#page-creator').addClass('--menu-active');
    $.default('.hl_page-creator--sections-group').addClass('active');
    $.default('#add-section').addClass('show');
    $.default('#add-section').fadeIn();
  }

  deleteSection(index: number) {
    this.pageContentModel.sections.splice(index, 1);
    this.$store.commit('reInit');
    $.default('.tooltip').remove();
  }

  sortUp(index: number) {
    if (index === 0) {
      return;
    }
    const placeHolder: PageContentSection = this.pageContentModel.sections.splice(
      index,
      1,
    )[0];
    this.pageContentModel.sections.splice(index - 1, 0, placeHolder);
  }

  sortDown(index: number) {
    if (index === this.pageContentModel.sections.length - 1) {
      return;
    }
    const placeHolder: PageContentSection = this.pageContentModel.sections.splice(
      index,
      1,
    )[0];
    this.pageContentModel.sections.splice(index + 1, 0, placeHolder);
  }

  mounted() {
    const items = localStorage.getItem('pageContents');
    if (items !== '' && items !== undefined && items !== null) {
      this.pageContentModel.initFromJson(JSON.parse(items));
    }
    this.$store.commit('reInit');
  }
}
</script>
