<template>
  <div class="hl_page-creator--row">
    <div class="hl_page-creator--actions">
      <div class="move-actions">
        <span data-tooltip="tooltip" data-placement="top" title="Up" @click="sortUp">
          <i class="icon icon-arrow-up-2"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Down" @click="sortDown">
          <i class="icon icon-arrow-down-2"></i>
        </span>
      </div>
      <div class="more-actions">
        <span data-tooltip="tooltip" data-placement="top" title="Settings">
          <i class="fas fa-cog"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Clone">
          <i class="far fa-eye"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Save">
          <i class="far fa-copy"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="top" title="Delete" @click="deleteRow">
          <i class="far fa-trash-alt"></i>
        </span>
      </div>
    </div>
    <span
      class="add-new-row"
      data-tooltip="tooltip"
      data-placement="bottom"
      title="Add New Row"
      @click="openAddNewRow"
    >
      <i class="icon icon-plus"></i>
    </span>
    <template v-for="(column, cIndex) in rowModel.columns">
      <ColumnComponent :key="cIndex" :sectionIndex="sectionIndex" :index="index" :cIndex="cIndex" :columnModel="column" />
    </template>
    <!-- {{ row.columns.length }} -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import PageContentRow from '../../models/PageContentRow';
import ColumnComponent from './ColumnComponent.vue';

@Component({
  components: {
    ColumnComponent,
  },
})
export default class RowComponent extends Vue {
  @Prop({ type: PageContentRow }) rowModel!: PageContentRow;

  @Prop({ type: Number }) index!: number;

  @Prop({ type: Number }) sectionIndex!: number;

  @Emit('openAddNewRow')
  openAddNewRow() {
    return true;
  }

  @Emit('deleteRow')
  deleteRow() {
    return this.index;
  }

  @Emit('sortUp')
  sortUp() {
    return this.index;
  }

  @Emit('sortDown')
  sortDown() {
    return this.index;
  }
}
</script>
