<template>
  <section class="hl_page-creator--rows-group">
    <a href="#" class="close-group" id="close-row-group">
      <i class="icon icon-close"></i>
    </a>
    <div class="hl_row-group">
      <div class="tab-content" id="hl_row-group-tab">
        <div class="tab-pane fade" id="add-row" role="tabpanel" aria-labelledby="add-row-tab">
          <div class="add-row">
            <h2>Add Row</h2>
            <div class="add-row-body">
              <div class="row-cards">
                <div
                  class="row-card"
                  draggable="true"
                  v-on:dragstart="dragStart(1)"
                  v-on:dragend="dragEnd"
                  @click="addRow(1)"
                >
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>1 Column</h5>
                </div>
                <div
                  class="row-card"
                  draggable="true"
                  v-on:dragstart="dragStart(2)"
                  v-on:dragend="dragEnd"
                  @click="addRow(2)"
                >
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>2 Column</h5>
                </div>
                <div
                  class="row-card"
                  draggable="true"
                  v-on:dragstart="dragStart(3)"
                  v-on:dragend="dragEnd"
                  @click="addRow(3)"
                >
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>3 Column</h5>
                </div>
                <div
                  class="row-card"
                  draggable="true"
                  v-on:dragstart="dragStart(4)"
                  v-on:dragend="dragEnd"
                  @click="addRow(4)"
                >
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>4 Column</h5>
                </div>
                <div
                  class="row-card"
                  draggable="true"
                  v-on:dragstart="dragStart(5)"
                  v-on:dragend="dragEnd"
                  @click="addRow(5)"
                >
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>5 Column</h5>
                </div>
                <div
                  class="row-card"
                  draggable="true"
                  v-on:dragstart="dragStart(6)"
                  v-on:dragend="dragEnd"
                  @click="addRow(6)"
                >
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>6 Column</h5>
                </div>
                <div class="row-card">
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>Left Sidebar</h5>
                </div>
                <div class="row-card">
                  <div class="icon">
                    <i class="fas fa-columns"></i>
                  </div>
                  <h5>Right Sidebar</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="manage-rows"
          role="tabpanel"
          aria-labelledby="manage-rows-tab"
        >
          <div class="manage-rows">
            <h2>Manage Rows</h2>
            <div class="rows-section-group-wrap">
              <div class="rows-section-group">
                <h3>Section</h3>
                <ul class="rows">
                  <li>
                    <h4>2 Column Row</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="rows-section-group">
                <h3>Section</h3>
                <ul class="rows">
                  <li>
                    <h4>1 Column Row</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                  <li>
                    <h4>1 Column Row</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="rows-section-group">
                <h3>Section</h3>
                <ul class="rows">
                  <li>
                    <h4>2 Column Row</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="rows-section-group">
                <h3>Section</h3>
                <ul class="rows">
                  <li>
                    <h4>1 Column Row</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                  <li>
                    <h4>1 Column Row</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import * as $ from 'jquery';
import PageContent from '../../models/PageContent';
import PageContentSection from '../../models/PageContentSection';

@Component
export default class RowGroup extends Vue {
  @Prop({ type: PageContent }) pageContentModel!: PageContent;

  @Emit('removeOverlay')
  addRow(columnCount: number) {
    if (this.$store.state.sectionIndex > -1) {
      this.pageContentModel.sections[
        this.$store.state.sectionIndex
      ].createRowWithColumns(columnCount);
    } else {
      if (this.pageContentModel.sections.length === 0) {
        this.pageContentModel.sections.push(new PageContentSection());
      }
      this.pageContentModel.sections[
        this.pageContentModel.sections.length - 1
      ].createRowWithColumns(columnCount);
    }
    this.$store.commit('reInit');
    $.default('.hl_page-creator--rows-group').removeClass('active');
  }

  dragStart(columnCount: number) {
    this.$store.commit('updateDragRow', { status: true });
    this.$store.commit('updateDragColumnCount', { columns: columnCount });
  }

  dragEnd() {
    console.log('drag end');
    console.log('row drop status', this.$store.state.rowDrop);
    if (this.$store.state.rowDrop === true) {
      this.addRow(this.$store.state.dragColumnCount);
    }
    this.$store.commit('updateDragRow', { status: false });
    this.$store.commit('updateRowDrop', { status: false });
    this.$store.commit('updateDragColumnCount', { columns: 1 });
  }
}
</script>
