<template>
  <div
    class="hl_page-creator--content"
    v-on:dragleave="dragLeave"
    v-on:dragover="dragEnter"
    v-on:drop="drop"
    :class="{'dragActive': dragging}"
  >
    <template v-if="pageSectionModel.rows.length===0">
      <section class="hl_page-creator--section">
        <div class="hl_page-creator--actions">
          <div class="move-actions">
            <span data-tooltip="tooltip" data-placement="right" title="Up" @click="sortUpSection">
              <i class="icon icon-arrow-up-2"></i>
            </span>
            <span data-tooltip="tooltip" data-placement="right" title="Down" @click="sortDownSection">
              <i class="icon icon-arrow-down-2"></i>
            </span>
          </div>
          <div class="more-actions">
            <span data-tooltip="tooltip" data-placement="left" title="Settings">
              <i class="fas fa-cog"></i>
            </span>
            <span data-tooltip="tooltip" data-placement="left" title="Clone">
              <i class="far fa-eye"></i>
            </span>
            <span data-tooltip="tooltip" data-placement="left" title="Save">
              <i class="far fa-copy"></i>
            </span>
            <span data-tooltip="tooltip" data-placement="left" title="Delete" @click="deleteSection">
              <i class="far fa-trash-alt"></i>
            </span>
          </div>
        </div>
        <span
          class="add-new-section"
          data-tooltip="tooltip"
          data-placement="bottom"
          title="Add New Section"
          @click="openAddNewSection"
        >
          <i class="icon icon-plus"></i>
        </span>
        <div href="#" class="new-row-blank" @click="openAddNewRow">
          <span class="btn btn-light5 btn-slim">Add New Row</span>
        </div>
      </section>
    </template>
    <template v-else>
      <div class="hl_page-creator--section">
        <div class="hl_page-creator--actions">
          <div class="move-actions">
            <span data-tooltip="tooltip" data-placement="right" title="Up" @click="sortUpSection">
              <i class="icon icon-arrow-up-2"></i>
            </span>
            <span
              data-tooltip="tooltip"
              data-placement="right"
              title="Down"
              @click="sortDownSection"
            >
              <i class="icon icon-arrow-down-2"></i>
            </span>
          </div>
          <div class="more-actions">
            <span data-tooltip="tooltip" data-placement="left" title="Settings">
              <i class="fas fa-cog"></i>
            </span>
            <span data-tooltip="tooltip" data-placement="left" title="Clone">
              <i class="far fa-eye"></i>
            </span>
            <span data-tooltip="tooltip" data-placement="left" title="Save">
              <i class="far fa-copy"></i>
            </span>
            <span
              data-tooltip="tooltip"
              data-placement="left"
              title="Delete"
              @click="deleteSection"
            >
              <i class="far fa-trash-alt"></i>
            </span>
          </div>
        </div>
        <span
          class="add-new-section"
          data-tooltip="tooltip"
          data-placement="bottom"
          title="Add New Section"
          @click="openAddNewSection"
        >
          <i class="icon icon-plus"></i>
        </span>

        <template v-for="(row, index) in pageSectionModel.rows">
          <RowComponent
            :key="index"
            :rowModel="row"
            :index="index"
            :sectionIndex="sectionIndex"
            @openAddNewRow="openAddNewRow"
            @deleteRow="deleteRow"
            @sortUp="sortUp"
            @sortDown="sortDown"
          />
        </template>
      </div>
    </template>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop, Watch, Emit } from 'vue-property-decorator';
import * as $ from 'jquery';
import Menu from './Menu.vue';
import RowComponent from './RowComponent.vue';
import PageContentRow from '../../models/PageContentRow';
import PageContentColumn from '../../models/PageContentColumn';
import PageContentElement from '../../models/PageContentElement';
import PageContentSection from '../../models/PageContentSection';

@Component({
  components: {
    Menu,
    RowComponent,
  },
})
export default class Main extends Vue {
  @Prop({ type: PageContentSection }) pageSectionModel!: PageContentSection;

  @Prop({ type: Number }) sectionIndex!: number;

  dragging = false;

  @Watch('pageSectionModel.rows.length', { immediate: true })
  checkAddRow() {
    if (this.pageSectionModel.rows.length === 1) {
      this.$store.commit('reInit');
    }
  }

  @Emit('openAddNewSection')
  openAddNewSection() {
    return true;
  }

  @Emit('deleteRow')
  deleteSection() {
    return this.sectionIndex;
  }

  @Emit('sortUp')
  sortUpSection() {
    return this.sectionIndex;
  }

  @Emit('sortDown')
  sortDownSection() {
    return this.sectionIndex;
  }

  saveContent() {
    localStorage.setItem(
      'pageContents',
      JSON.stringify(this.pageSectionModel.toJson()),
    );
  }

  openAddNewRow() {
    this.$store.commit('updateSectionIndex', { index: this.sectionIndex });
    $.default('#page-creator').addClass('--menu-active');
    $.default('.hl_page-creator--rows-group').addClass('active');
    $.default('#add-row').addClass('show');
    $.default('#add-row').fadeIn();
  }

  deleteRow(index: number) {
    this.pageSectionModel.rows.splice(index, 1);
  }

  sortUp(index: number) {
    if (index === 0) {
      return;
    }
    const placeHolder: PageContentRow = this.pageSectionModel.rows.splice(
      index,
      1,
    )[0];
    this.pageSectionModel.rows.splice(index - 1, 0, placeHolder);
  }

  sortDown(index: number) {
    if (index === this.pageSectionModel.rows.length - 1) {
      return;
    }
    const placeHolder: PageContentRow = this.pageSectionModel.rows.splice(
      index,
      1,
    )[0];
    this.pageSectionModel.rows.splice(index + 1, 0, placeHolder);
  }

  dragLeave() {
    if (this.$store.state.dragRows === true) {
      this.dragging = false;
    }
  }

  dragEnter(e: any) {
    if (this.$store.state.dragRows === true) {
      e.preventDefault();
      this.dragging = true;
    }
  }

  drop(e: any) {
    if (this.$store.state.dragRows === true) {
      console.log('drop event called');
      this.dragging = false;
      this.$store.commit('updateSectionIndex', { index: this.sectionIndex });
      this.$store.commit('updateRowDrop', { status: true });
      e.preventDefault();
    }
  }
}
</script>
