<template>
  <section class="hl_page-creator--sections-group">
    <a href="#" class="close-group" id="close-section-group">
      <i class="icon icon-close"></i>
    </a>
    <div class="hl_section-group">
      <div class="tab-content" id="hl_section-group-tab">
        <div
          class="tab-pane fade"
          id="add-section"
          role="tabpanel"
          aria-labelledby="add-section-tab"
        >
          <div class="add-section">
            <h2>Add Sections</h2>
            <div class="add-section-body">
              <div class="section-cards">
                <div class="section-card" @click="addSection(1)">
                  <div class="icon">
                    <i class="far fa-square"></i>
                  </div>
                  <h5>Full Width</h5>
                </div>
                <div class="section-card" @click="addSection(1)">
                  <div class="icon">
                    <i class="far fa-square"></i>
                  </div>
                  <h5>Wide</h5>
                </div>
                <div class="section-card" @click="addSection(1)">
                  <div class="icon">
                    <i class="far fa-square"></i>
                  </div>
                  <h5>Medium</h5>
                </div>
                <div class="section-card" @click="addSection(1)">
                  <div class="icon">
                    <i class="far fa-square"></i>
                  </div>
                  <h5>Small</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="manage-sections"
          role="tabpanel"
          aria-labelledby="manage-sections-tab"
        >
          <div class="manage-sections">
            <h2>Manage Sections</h2>
            <div class="sections-section-group-wrap">
              <div class="sections-section-group">
                <h3>All Sections</h3>
                <ul class="sections">
                  <li>
                    <h4>Section</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                  <li>
                    <h4>Section</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                  <li>
                    <h4>Section</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                  <li>
                    <h4>Section</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                  <li>
                    <h4>Section</h4>
                    <div class="actions">
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="fas fa-arrows-alt-v"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-copy"></i>
                      </a>
                      <a href="#" class="btn btn-square-sm btn-light4">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import * as $ from 'jquery';
import PageContent from '../../models/PageContent';
import PageContentSection from '../../models/PageContentSection';

@Component
export default class SectionGroup extends Vue {
  @Prop({ type: PageContent }) pageContentModel!: PageContent;

  @Emit('removeOverlay')
  addSection(type: any) {
    this.pageContentModel.sections.push(new PageContentSection());
    this.$store.commit('reInit');
    $.default('.hl_page-creator--sections-group').removeClass('active');
  }
}
</script>
