<template>
  <h1>{{ content.text }}</h1>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Headline from '../../../models/contents/Headline';

@Component
export default class HeadlineContent extends Vue {
  @Prop({ type: Headline }) content!: Headline;
}
</script>
