<template>
  <figure>
    <img :src="content.url" :alt="content.desc" :title="content.desc"/>
  </figure>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Image from '../../../models/contents/Image';

@Component
export default class ImageContent extends Vue {
  @Prop({ type: Image }) content!: Image;
}
</script>
