<template>
  <ul>
    <template v-if="content.items.length > 0">
      <template v-for="(item, index) in content.items">
        <li :key="index">{{ item }}</li>
      </template>
    </template>
    <template v-else>
      <li>There is no list</li>
    </template>
  </ul>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import List from '../../../models/contents/List';

@Component
export default class ListContent extends Vue {
  @Prop({ type: List }) content!: List;
}
</script>
