<template>
  <p>{{ content.text }}</p>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Paragraph from '../../../models/contents/Paragraph';

@Component
export default class ParagraphContent extends Vue {
  @Prop({ type: Paragraph }) content!: Paragraph;
}
</script>
