<template>
  <div>
    <Navigation />
    <!-- Client Check In Modal -->
    <Dialog />

    <Header />
    <!-- END of .hl_header -->

    <RecentActivities />
    <!-- END of .recent_activities -->

    <Modal />
    <PageCreator :pageContentModel="pageContentModel" />
    <!-- END of .hl_wrapper -->

    <!-- ======================= Outdated Browser (Supports IE10 & Above) ======================= -->
    <OutDatedInfo />
    <!-- ================================= END: Outdated Browser ================================ -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import * as $ from 'jquery';
import Navigation from '../components/Navigation.vue';
import Dialog from '../components/Dialog.vue';
import Header from '../components/Header.vue';
import RecentActivities from '../components/RecentActivities.vue';
import Modal from '../components/Modal.vue';
import OutDatedInfo from '../components/OutDatedInfo.vue';
import PageCreator from '../components/PageCreator.vue';
import PageContent from '../models/PageContent';

@Component({
  components: {
    Navigation,
    Dialog,
    Header,
    RecentActivities,
    Modal,
    OutDatedInfo,
    PageCreator,
  },
})
export default class Dashboard extends Vue {
  private pageContentModel: PageContent = new PageContent();

  mounted() {
    this.reInitListener();
    this.$store.subscribe(mutation => {
      if (mutation.type === 'reInit') {
        this.reInitListener();
      }
    });
  }

  reInitListener() {
    setTimeout(() => {
      // Section
      $.default('.hl_page-creator--section').off('mouseenter');
      $.default('.hl_page-creator--section').on('mouseenter', function() {
        $.default(this).addClass('active');
      });
      $.default('.hl_page-creator--section').off('mouseleave');
      $.default('.hl_page-creator--section').on('mouseleave', function() {
        $.default(this).removeClass('active');
      });
      // Row
      $.default('.hl_page-creator--row').off('mouseenter');
      $.default('.hl_page-creator--row').on('mouseenter', function() {
        $.default(this).addClass('active');
        $.default(this)
          .parent('.hl_page-creator--section')
          .removeClass('active');
      });
      $.default('.hl_page-creator--row').off('mouseleave');
      $.default('.hl_page-creator--row').on('mouseleave', function() {
        $.default(this).removeClass('active');
        $.default(this)
          .parent('.hl_page-creator--section')
          .addClass('active');
      });
      // Element
      $.default('.hl_page-creator--element').off('mouseenter');
      $.default('.hl_page-creator--element').on('mouseenter', function() {
        $.default(this).addClass('active');
        $.default(this)
          .parents('.hl_page-creator--row')
          .removeClass('active');
      });
      $.default('.hl_page-creator--element').off('mouseleave');
      $.default('.hl_page-creator--element').on('mouseleave', function() {
        $.default(this).removeClass('active');
        $.default(this)
          .parents('.hl_page-creator--row')
          .addClass('active');
      });
    }, 500);
  }
}
</script>
