<template>
    <div class="modal review-link--modal" tabindex="-1" role="dialog" id="review-link--modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="../assets/img/img-link-review-copied.png" />
                    <h4>Link copied to clipboard!</h4>
                    <p>www.somekindoflink.com/mycompanyname/213213</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Modal extends Vue {}
</script>
