<template>
    <div id="outdated" aria-hidden="true">
        <h5>:(</h5>
        <h6>Your browser is out-of-date!</h6>
        <p>
            This website is built using latest technologies. Unfortunately your browser doesn't support those. Please update your browser to view this website correctly. Thank you.
            <a
                id="btnUpdateBrowser"
                href="http://outdatedbrowser.com/"
                target="_blank"
            >Update my browser now</a>
        </p>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class OutDatedInfo extends Vue {}
</script>
