<template>
  <section class="hl_wrapper nav-shrink d-flex">
    <section class="hl_wrapper--inner page-creator" id="page-creator">
      <Main :pageContentModel="pageContentModel" />
      <!-- END of .hl_page-creator--main -->

      <SettingGroup />
      <!-- END of .hl_page-creator--settings-group -->

      <SectionGroup  :pageContentModel="pageContentModel" @removeOverlay="removeOverlay" />
      <!-- END of .hl_page-creator--sections-group -->

      <RowGroup :pageContentModel="pageContentModel" @removeOverlay="removeOverlay" />
      <!-- END of .hl_page-creator--rows-group -->

      <ColumnGroup />
      <!-- END of .hl_page-creator--columns-group -->

      <ElementGroup :pageContentModel="pageContentModel" @removeOverlay="removeOverlay" />
      <ElementEditGroup :pageContentModel="pageContentModel" @removeOverlay="removeOverlay" />
      <!-- END of .hl_page-creator--element-group -->
    </section>
    <!-- END of .form-builder -->
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import Main from './page-creator/Main.vue';
import SettingGroup from './page-creator/SettingGroup.vue';
import SectionGroup from './page-creator/SectionGroup.vue';
import RowGroup from './page-creator/RowGroup.vue';
import ColumnGroup from './page-creator/ColumnGroup.vue';
import ElementGroup from './page-creator/ElementGroup.vue';
import ElementEditGroup from './page-creator/ElementEditGroup.vue';
import PageContent from '../models/PageContent';

@Component({
  components: {
    Main,
    SettingGroup,
    SectionGroup,
    RowGroup,
    ColumnGroup,
    ElementGroup,
    ElementEditGroup,
  },
})
export default class PageCreator extends Vue {
  @Prop({ type: PageContent }) pageContentModel!: PageContent;

  private render = true;

  @Watch('$store.state.dragging')
  @Watch('$store.state.dragRows')
  toggleOverlay() {
    console.log(this.$store.state.dragging);
    console.log('dragrows', this.$store.state.dragRows);
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const container: any = document.getElementById('page-creator');
    const ownClass = container.getAttribute('class').toString();
    if (this.$store.state.dragging === true || this.$store.state.dragRows === true) {
      container.setAttribute('class', ownClass.replace('--menu-active', ''));
    } else if (this.$store.state.rowDrop === true || this.$store.state.dragElement !== '') {
      container.setAttribute('class', `${ownClass} --menu-active`);
    }
  }

  removeOverlay() {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const container: any = document.getElementById('page-creator');
    const ownClass = container.getAttribute('class').toString();
    container.setAttribute('class', ownClass.replace('--menu-active', ''));
    this.$store.commit('reInit');
  }
}
</script>
