<template>
  <div class="hl_recent-activities">
    <div class="hl_recent-activities--inner">
      <ul class="hl_recent-activities--list list-unstyled">
        <li class="hl_recent-activities--item --notification">
          <div class="avatar --sm">
            <div class="avatar_img --blue">BM</div>
          </div>
          <p>
            <strong>Bruce Mann</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item --notification">
          <div class="avatar --sm">
            <div class="avatar_img">
              <img src="../assets/img/img-avatar-sample4.png" alt="Avatar Name" />
            </div>
          </div>
          <p>
            <strong>Henry J.</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item --notification">
          <span class="recent-activities--icon --rating">
            <i class="icon icon-star-filled"></i>
          </span>
          <p>Our Average Rating went up!</p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <span class="recent-activities--icon --reviews">
            <i class="icon icon-send"></i>
          </span>
          <p>Milestone of 5,000 team Review Requestes hit!</p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <div class="avatar --sm">
            <div class="avatar_img --orange">GT</div>
          </div>
          <p>
            <strong>Gerald Terry</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <div class="avatar --sm">
            <div class="avatar_img --green">RF</div>
          </div>
          <p>
            <strong>Ricardo Foster</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <div class="avatar --sm">
            <div class="avatar_img">
              <img src="../assets/img/img-avatar-sample2.png" alt="Avatar Name" />
            </div>
          </div>
          <p>
            <strong>Samantha Irving</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <div class="avatar --sm">
            <div class="avatar_img">
              <img src="../assets/img/img-avatar-sample3.png" alt="Avatar Name" />
            </div>
          </div>
          <p>
            <strong>Cecelia Atkins</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <div class="avatar --sm">
            <div class="avatar_img --purple">NP</div>
          </div>
          <p>
            <strong>Norman E. Parque</strong> sent a Review Request to Amanda Nunes.
          </p>
          <p class="location">Nike Store, 49 Garnet Stream, Baja, CA</p>
          <p class="time-date">10 min ago</p>
        </li>
        <li class="hl_recent-activities--item">
          <a href="#">Load More</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class RecentActivities extends Vue {}
</script>
